<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxPl2R-n1PptIof9LeOofiHch2SZJbJh2hY3walZ83h2zDYpv2U2F_dYZ7SgybDufC-8&usqp=CAU">
    </div>
    
    {{>footer}}
</body>

</html>